<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" class="admin-container">
    <h1>￥QG申必小金库￥</h1>
    <div class="user-info">
        <span>当前用户：{{user?.username}}</span>
        <span>余额:￥{{user?.balance}}</span>
    </div>
    <nav class="admin-nav">
        <ul>
            <li><a href="#" @click="show='users'">用户管理</a></li>
            <li><a href="#" @click="show='records'">交易记录管理</a></li>
            <li><a href="#" @click="show='products'">理财产品管理</a></li>
        </ul>
    </nav>

    <div v-if="show=='users'">
        <table>
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>余额</th>
            </tr>
            <tr v-for="user in allUsers">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.balance}}</td>
            </tr>
        </table>
    </div>

    <div v-else-if="show=='records'">
        <table>
            <tr>
                <th>用户名</th>
                <th>交易类型</th>
                <th>交易对象</th>
                <th>交易金额</th>
                <th>交易时间</th>
            </tr>
            <tr v-for="record in records">
                <td>{{record.username}}</td>
                <td>{{record.type}}</td>
                <td>{{record.targetUsername}}</td>
                <td>{{record.amount}}</td>
                <td>{{record.createTime}}</td>
            </tr>
        </table>
    </div>

    <div v-else-if="show=='products'">
        <h3>理财记录</h3>
        <div class="message">{{message}}</div>
        <table>
            <thead>
            <tr>
                <th>产品类型</th>
                <th>用户ID</th>
                <th>金额</th>
                <th>收益率</th>
                <th>状态</th>
                <th>期限</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="productRecord in allProductRecords">
                <td>{{productRecord.productName}}</td>
                <td>{{productRecord.userId}}</td>
                <td>{{productRecord.amount}}</td>
                <td>{{productRecord.rate*100}}%</td>
                <td>{{productRecord.status}}</td>
                <td>{{productRecord.term=='0'?'活期':productRecord.term+'个月'}}</td>
                <td>{{productRecord.buyTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            user: {},
            allUsers: [],
            records: [],
            show: 'users',
            allProductRecords:[],
            message:''
        },
        mounted() {
            this.getUserInfo();
            this.getAllUsers();
            this.getRecords();
            this.getAllProductRecords();
        },
        methods: {
            getUserInfo() {
                axios.get("/qg_bank/selfInfoServlet").then((res) => {
                    this.user = res.data;
                })
            },
            getRecords() {
                axios.get("/qg_bank/transactionRecordServlet").then((res) => {
                    if(res.data.success){
                        this.records = res.data.data;
                    }else{
                        this.message=res.data.message;
                    }
                })
            },
            getAllUsers() {
                axios.get("/qg_bank/adminServlet").then((res) => {
                    if(res.data.success){
                        this.allUsers = res.data.data;
                    }else{
                        this.message=res.data.message;
                    }
                })
            },
            getAllProductRecords() {
                axios.get("/qg_bank/financialServlet").then((res) => {
                    if(res.data.success){
                        this.allProductRecords = res.data.data;
                    }else{
                        this.message=res.data.message;
                    }
                })
            }
        }

    })
</script>
</body>
</html>