<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>

    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div id="app">

    <form class="login-container">
        <h1>LOGIN</h1>
        <div class="form-group">
            <label for="username">用户名：</label>
            <input type="text" id="username" v-model="username" required><br><br>

            <label for="password">密码：</label>
            <input type="password" id="password" v-model="password" required><br><br>

            <label for="checkCode">验证码：</label>
            <input type="text" id="checkCode" v-model="inputCode"required>

            <span class="code-box" @click="generateRandomCode">{{genCheckCode}}</span><br><br>

            <input type="button" class="btn" @click="login" value="登录"><br><br>
            <a href="/qg_bank/register.html">注册一个账号</a>

            <div class="message">{{message}}</div>
        </div>
    </form>


</div>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            username: '',
            password: '',
            genCheckCode: '',
            inputCode: '',
            message: ''
        },
        mounted() {
            this.generateRandomCode();
        },
        methods: {
            generateRandomCode() {
                const chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'; // 验证码字符集
                let code = ''; // 初始化验证码
                for (let i = 0; i < 4; i++) { // 生成4位验证码
                    code += chars.charAt(Math.floor(Math.random() * chars.length)); // 随机选择字符
                }
                this.genCheckCode = code; // 返回生成的验证码
            },
            login: function () {

                if (this.inputCode.toLowerCase() !== this.genCheckCode.toLowerCase()) {
                    this.message = '验证码错误';
                    this.generateRandomCode();
                    return;
                }

                axios({
                    method: 'POST',
                    url: '/qg_bank/loginServlet',
                    data: {
                        username: this.username,
                        password: this.password
                    }
                }).then(resp => {
                    if (resp.data.success) {

                        if (resp.data.message == 'admin') {
                            location.href = "/qg_bank/admin.html";
                        } else {
                            location.href = "/qg_bank/main.html";
                        }
                    } else {
                        this.message = resp.data.message;
                    }
                }).catch(error => {
                    alert('网络错误，请稍后重试');
                })
            }
        }
    })
</script>

</body>
</html>